body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:42px;
  width:375px;
  height:647px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:42px;
  width:375px;
  height:647px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:464px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:189px;
  width:275px;
  height:463px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:224px;
  width:271px;
  word-wrap:break-word;
}
