body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-5px;
  width:350px;
  height:73px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:370px;
  width:337px;
  height:60px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-5px;
  width:350px;
  height:73px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:139px;
  width:337px;
  height:60px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-5px;
  width:350px;
  height:184px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:199px;
  width:337px;
  height:171px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:97px;
  width:85px;
  height:16px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:17px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:173px;
  width:268px;
  height:16px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:49px;
  height:49px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:150px;
  width:39px;
  height:39px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:150px;
  width:43px;
  height:16px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:25px;
  width:1px;
  height:1px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:10px;
  height:17px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-5px;
  width:350px;
  height:73px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:512px;
  width:337px;
  height:60px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:347px;
  height:87px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:572px;
  width:337px;
  height:77px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:470px;
  width:85px;
  height:16px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:17px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:546px;
  width:268px;
  height:16px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:49px;
  height:49px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:523px;
  width:39px;
  height:39px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:523px;
  width:43px;
  height:16px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:8px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:7px;
  width:55px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:112px;
  height:49px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:381px;
  width:101px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:112px;
  height:49px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:381px;
  width:101px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
