body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:343px;
  height:63px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:495px;
  width:340px;
  height:60px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:343px;
  height:63px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:435px;
  width:340px;
  height:60px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:343px;
  height:63px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:375px;
  width:340px;
  height:60px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:27px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:505px;
  width:105px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9E6FF8;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:27px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:385px;
  width:105px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9E6FF8;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:27px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:445px;
  width:105px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9E6FF8;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:335px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:503px;
  width:25px;
  height:25px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:384px;
  width:25px;
  height:25px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:32px;
  height:32px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:394px;
  width:25px;
  height:25px;
  font-family:'Gadugi Negreta', 'Gadugi Normal', 'Gadugi';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:32px;
  height:32px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:454px;
  width:25px;
  height:25px;
  font-family:'Gadugi Negreta', 'Gadugi Normal', 'Gadugi';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:32px;
  height:32px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:511px;
  width:25px;
  height:25px;
  font-family:'Gadugi Negreta', 'Gadugi Normal', 'Gadugi';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:443px;
  width:25px;
  height:25px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:18px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:411px;
  width:183px;
  height:17px;
  font-size:16px;
  color:#999999;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:18px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:471px;
  width:183px;
  height:17px;
  font-size:16px;
  color:#999999;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:18px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:531px;
  width:193px;
  height:17px;
  font-size:16px;
  color:#999999;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:343px;
  height:63px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:269px;
  width:340px;
  height:60px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:27px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:279px;
  width:105px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9E6FF8;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:229px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:32px;
  height:32px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:288px;
  width:25px;
  height:25px;
  font-family:'Gadugi Negreta', 'Gadugi Normal', 'Gadugi';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:18px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:305px;
  width:183px;
  height:17px;
  font-size:16px;
  color:#999999;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:279px;
  width:20px;
  height:20px;
  color:#999900;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:269px;
  width:340px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:343px;
  height:63px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:159px;
  width:340px;
  height:60px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:343px;
  height:63px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:99px;
  width:340px;
  height:60px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:60px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:107px;
  width:99px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9E6FF8;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:108px;
  width:20px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:20px;
  word-wrap:break-word;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:168px;
  width:99px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9E6FF8;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:18px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:136px;
  width:183px;
  height:17px;
  font-size:16px;
  color:#999999;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:32px;
  height:32px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:117px;
  width:25px;
  height:25px;
  font-family:'Gadugi Negreta', 'Gadugi Normal', 'Gadugi';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:18px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:196px;
  width:183px;
  height:17px;
  font-size:16px;
  color:#999999;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:32px;
  height:32px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:177px;
  width:25px;
  height:25px;
  font-family:'Gadugi Negreta', 'Gadugi Normal', 'Gadugi';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:169px;
  width:20px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:20px;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:14px;
  width:25px;
  height:25px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:38px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:610px;
  width:375px;
  height:37px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:619px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u703_img.selected {
}
#u703.selected {
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:619px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u704_img.selected {
}
#u704.selected {
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:619px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u705_img.selected {
}
#u705.selected {
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:619px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u706_img.selected {
}
#u706.selected {
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:619px;
  width:40px;
  height:20px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:375px;
  width:340px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u709 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:495px;
  width:340px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u710 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:435px;
  width:340px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u711 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:99px;
  width:340px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
